*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

form {
  font-weight: 800;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 275px;
  row-gap: 10px;
  margin: 50px;
}

table {
  margin-top: 25px;
  margin-left: 50px;
}

th,
td {
  width: 150px;
  text-align: left;
}

th {
  border: 1px solid;
}
