*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

div {
  padding: 50px;
  width: 60%;
}

h1 {
  margin-bottom: 25px;
  border-bottom: 1px solid;
}

p {
  font-weight: 600;
  font-size: 9px;
  margin-left: 105px;
}

form {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-weight: 600;
}

table {
  width: 100%;
}

th,
td {
  padding: 0px 0px;
}

th {
  background-color: cornflowerblue;
  border: 1px solid;
  text-align: left;
}

.attendance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
